.footer {
    background-color: #7e8083; 
    color: #fff; 
    width: auto;
  }
  
  .footer-brand {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
  }


  
  .footer-col {
    margin-bottom: 20px;
  }
  
  .footer-col {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    margin-left: auto;
  }
  
  .footer a {
    color: #adb5bd;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #fff;
    text-decoration: underline;
  }
  
  .footer .bi {
    font-size: 1.25rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .footer-brand{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  @media (min-width: 760px) and (max-width: 990px) {
    .footer-brand {
      font-size: 1.1rem;
    }
  }