

.plan-text{
    font-style:oblique;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    /* box-shadow: 0px 0px 10px rgb(237, 235, 235); */

}
.plan-text .card-body{
    background-color: rgb(241, 241, 241);
}
.card{
    background-color: white;
}

 /* Responsive design: Adjust for smaller screens */
 @media (max-width: 768px) {
    .plan-text {
      width: 100%;
      font-size: 15px;
      /* Make container take more space on smaller devices */
    }
  }
  
  @media (max-width: 480px) {
    .plan-text {
      width: 100%; /* For extra-small screens, make it almost full width */
      padding: 40px;
      font-size: 15px;
      background-color: white; /* Slightly reduce padding for compactness */
    }
  }
