.large-text {
    margin-left: 50px;
    font-size: 18px; /* Sets the font size to 24 pixels */
    margin-top: 50px;
  }
  
  
  /* .navbar-dark .nav-item .nav-link {
    color: #fff;
  }
  
  .navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
  } */
  
  
  
 
  
